
<h1 style="margin-left: 10px">Roteiro: {{ routing()?.name }}</h1>

<div class="container">
    

@for (slot of routing()?.slots; track slot.id) {
    <p-card>
        <ng-template #header>
            <div style="padding-left: 20px">
                <h1>
                    Vaga {{ $index + 1 }}
                    @if (slot.team) {
                        <p-tag severity="success" [value]="slot.team" />
                    } @else {
                        <p-tag severity="warn" value="Não atribuída" />
                    }
                </h1>

                Serviços realizados: {{ slot.servicesCompleted }} / {{ slot.servicesQt }}
            </div>
        </ng-template>
    
        
            
        <p-progressbar [value]="slot.servicesCompleted / slot.servicesQt * 100" />


        <ng-template #footer >
            
            <div style="margin-top: 10px; display: flex; gap: 10px">
                @if (slot.team) {
                    <p-button label="Renunciar vaga" outlined="true" (onClick)="resignSlot(slot.id)" />
                    <p-button label="Realizar serviço" (onClick)="doWork(slot.id)" />
                } @else {
                    <p-button label="Assumir vaga" outlined="true" (onClick)="takeSlot(slot.id, 'eduardo')" />
                }
            </div>
        </ng-template>
    </p-card>
}

</div>