<div style="display: flex; align-items: center; justify-content: space-between;">
    <h1 style="margin-left: 10px; display: inline;">Roteiro: {{ routing()?.name }}</h1>
    <p-togglebutton onIcon="pi pi-circle-on" offIcon="pi pi-circle-off" 
    [ngModel]="isOnline()" 
    (ngModelChange)="isOnline.set($event)"
     onLabel="Online" offLabel="Offline" class="w-24" />
</div>

<div class="container"> 
    @for (slot of routing()?.slots; track slot.id) {
        <p-card>
            <ng-template #header>
                <div style="padding: 20px 20px 0px 20px; display: flex; gap: 5px; justify-content: space-between;;">
                    <div style="display: flex; gap: 10px; align-items: center">
                        <span style="font-weight: bold; font-size: 24px;">Vaga {{ $index + 1 }}</span>
                        @if (slot.servicesCompleted == slot.servicesQt) {
                            <p-tag severity="success" value="Finalizado" />
                        } @else {
                            <p-tag severity="info" value="Em andamento" />
                        }
                    </div>

                    <span>
                        Serviços realizados: {{ slot.servicesCompleted }} / {{ slot.servicesQt }}   
                    </span>

                    <div>
                        @if (slot.team) {
                            @if (onlineTeams().includes(slot.team)) {
                                <span style="font-weight: bold; color: #10b981;">{{ slot.team }}</span>
                            } @else {
                                <span style="font-weight: bold; color: #6b7280;">{{ slot.team }}</span>
                            }
                        }
                    </div>
                </div>
            </ng-template>
                
            <p-progressbar [value]="(slot.servicesCompleted / slot.servicesQt * 100).toFixed(2)" />


            <ng-template #footer >
                <div style="margin-top: 10px; display: flex; gap: 10px">
                    @if (slot.team && slot.team === currentUser()) {
                        <p-button label="Renunciar vaga" outlined="true" (onClick)="resignSlot(slot.id)" />
                        <p-button label="Realizar serviço" (onClick)="doWork(slot.id)" />
                    } @else if (!slot.team) {
                        @if (slot.servicesCompleted != slot.servicesQt) {
                            <p-button label="Assumir vaga" outlined="true" (onClick)="takeSlot(slot.id)" />
                        }
                    }
                </div>
            </ng-template>
        </p-card>
    }
</div>